<!DOCTYPE html>
<html>
<head>
  <title>SharedModel</title>
  <%= stylesheet_link_tag    "shared_model/application", :media => "all" %>
  <%= javascript_include_tag "shared_model/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
